.divEscolherNaipe {
    display: none;
}
.divEscolhaInstrumentos {
    display: none;
}
.divAlunoProfessor {
    display: none;
}

/*(ALERTA!!!!!!!!!!!!!!!!!!)NAO MODIFIQUE E NAO TOQUE NO CODIGO ACIMA!!!!!!!!!*/